* {
    font-family: "Poppins", sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

.main {
   background-image: url('../img/banner-bg.png');
   height: 90vh;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 25px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
}

.navBars i{
    display: none;
}

.navBar a:hover{
    color: #febd21;
    transition: 0.5s;
}


a{
    text-decoration: none;
}

.leftNav {
    width: 300px;
    padding-left: 110px;
}

.middleNav{
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.rightNav {
    width: 500px;
    display: flex;
    justify-content: space-around;
    padding-right: 100px;
}

.contentHome {
    width: 750px;
    margin: 122px 600px;
    text-align: center;
}

.contentHome h1{
    padding-bottom: 20px;
}

.contentHome video{
    width: 220.1px;
    height: 298px;
    position: relative;
    margin: 7px;
    margin-right: 94px;
    margin-top: 113px;
    overflow: hidden;
}
.content {
    text-align: center;
    width: 60%;
    margin: 40px 384px;
}
.contentList {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 400px;
    text-align: center;
    padding: 20px;
}

.card button {
    border: none;
    height: 53px;
    width: 182px;
    border-radius: 10px;
    margin: 25px;
    background-color: #febd21;
    cursor: pointer;
}

.card button:hover {
    background-color: #000;
    color: #FFF;
    transition: 0.6s;
}

.card span{
    color: #febd21;
}

#about {
    background-color: #febd21;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.textAbout {
    width: 834px;
    text-align: center;
    color: white;
}

.textAbout h2, .textAbout p{
    color: white;    
}

.textAbout button {
    width: 200px;
    height: 60px;
    background-color: #000;
    color: whitesmoke;
    border-radius: 20px;
    border: none;
    margin: 40px;
    font-weight: 500;
    cursor: pointer;
}

.imageAbout img{
    width: 500px;
    height: 500px;
    border-radius: 190px;
}

.textAbout button:hover {
    background-color: white;
    color: #000;
    transition: 0.6s;
    box-shadow: inherit;
}

.reviews h2{
    margin-left: 38%;
}

.clientCards {
    display: block;
    height: 600px;
    animation: 11s linear 3s infinite running slidein;
    margin-left: auto;
    margin-right: auto;
    margin-left: 236px;
}

.clientCards img {
    width: 288px;
    height: 250px;
    border: none;
    border-radius: 112px;
    margin-right: 20px;
}


@keyframes slidein {
    10% {
        background-image: url('../img/1Client.png');
        background-repeat: no-repeat;
    }
    50% {
        background-image: url('../img/client2.png');
        background-repeat: no-repeat;
    }  

    100% {
        background-image: url('../img/1Client.png');
        background-repeat: no-repeat;
    }
}

#contact {
    background-color: #febd21;
    display: flex;
    padding-bottom: 20px;
}

.details {
    width: 40%;
    margin-left: 148px;
}

.head h2 {
    padding-left: 79%;
    padding-top: 60px;
}

.first input{
    color: #989696;
    height: 9px;
    font-size: 18px;
    padding: 22px;
    margin-top: 60px;
    border: 0px;
    border-radius: 9px;
    padding-right: 372px;
}

.second input {
    color: #989696;
    height: 9px;
    font-size: 18px;
    padding: 22px;
    margin-top: 30px;
    border: 0px;
    border-radius: 9px;
    padding-right: 372px;
}

.third input {
    color: #989696;
    height: 9px;
    font-size: 18px;
    padding: 22px;
    margin-top: 30px;
    border: 0px;
    border-radius: 9px;
    padding-right: 372px;
}

.forth input {
    color: #989696;
    height: 86px;
    font-size: 18px;
    padding: 22px;
    margin-top: 30px;
    border: 0px;
    border-radius: 9px;
    padding-right: 372px;
}

.buttonContact button {
    width: 159px;
    height: 59px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttonContact button:hover {
    background-color: #989696;
    color: #febd21;
    transition: 0.6s;
}

.leftContact {
    margin-left: 123px;
}

.img img{
    margin-left: 170px;
    margin-top: 160px;
}

.card1 {
    border-color: #989696;
    border: 1px solid grey;
    border-radius: 89px;
}

.card2 {
    border-color: #989696;
    border: 1px solid grey;
    border-radius: 89px;
}

.card1 img {
    height: 300px;
    width: 300px;
    margin-top: 38px;
    border-radius: 39px;
}

.card1 h3 {
    margin-left: 68px;
}

.card1 p{
    margin-left: 68px;
}

.list1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card1 button {
    border: none;
    width: 176px;
    height: 62px;
    background-color: #febd21;
    border-radius: 32px ;
    margin: 14px 0px 0px 47px;
    cursor: pointer;
}

.list2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card2 img {
    height: 300px;
    width: 300px;
    margin-top: 38px;
    border-radius: 39px;
}

.card2 h3 {
    margin-left: 68px;
}

.card2 p{
    margin-left: 68px;
}

.card2 button {
    border: none;
    width: 176px;
    height: 62px;
    background-color: #febd21;
    border-radius: 32px ;
    margin: 14px 0px 0px 47px;
}

.card1 button:hover {
    background-color: #000;
    color: #FFF;
    transition: 0.6s;
}

.card2 button:hover {
    background-color: #000;
    color: #FFF;
    transition: 0.6s;
}